<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div>
            <a class="navbtn" href="/login">Get started!</a>
        </div>
    </nav>
    <div class="banner">
        <div class="frame">
            <div class="bg"></div>
            <div class="logo">
                <a href="/"><img src="/static/assets/images/douzepoints.svg" alt=""></a>
                <p>FOR EVERY DILEMMA</p>
            </div>
        </div>
        <div class="vote">
            <input type="text" name="code" id="code" placeholder="Enter code to vote">
            <button>Vote</button>
        </div>
    </div>

</body>
</html>