<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/vote-{{contest.style}}.css">
    <link rel="stylesheet" href="/static/css/giphy.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vote</title>
</head>
<body>
    
    <form action="" method="POST" onsubmit="return validateVote();">
        <div class="info">
            <h1>{{ contest.name }}</h1>
            {% if contest.description %}<p>{{ contest.description }}</p> {% endif %}
        </div>
        <div class="presenter">
            <div class="image-view">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <input type="text" name="gif" id="gif-input" readonly hidden />
            {% include 'giphy.html' %}

            <input type="text" name="name" id="name" placeholder="Enter your name" />
        </div>
        <div class="points">
            {% for points in scores %}
            <div class="contestant" data-points="{{ points }}">
                <select name="{{ points }}">
                    <option disabled selected value>{% if contest.style == 2019 %}SELECT AN OPTION{% else %} Select an option {% endif %}</option>
                    {% for c in contest.contestants %}
                    <option value="{{ c.id }}">{% if contest.style == 2019 %}{{ c.name|upper }}{% else %}{{ c.name }}{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>
        <button type="submit">Vote!</button>
    </form>
    <script type="text/javascript" src="/static/js/vote.js"></script>
    <script type="text/javascript" src="/static/js/giphy.js"></script>
</body>
</html>