<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
    <script type="text/javascript" src="/static/js/welcome.js"></script>
    <link rel="stylesheet" href="/static/css/welcome.css">
    <title>Home</title>
</head>
<body>
    <div id="welcome">
        <img src="/static/assets/images/welcome.svg" alt="">
    </div>
    <nav>
        <div id="vote">
            <input type="text" name="code" id="code" placeholder="Enter code to vote">
            <button>Vote</button>
        </div>
        <a class="navbtn" href="/login">Get started!</a>
    </nav>

</body>
</html>