$cyber-grape: hsl(251, 25%, 34%);
$middle-red: hsl(12, 62%, 68%);
$minion-yellow: hsl(60, 100%, 65%);
$dark-yellow: hsl(52, 25%, 34%);
$medium-purple: hsl(250, 75%, 75%);
$transparent-purple: hsla(250, 25%, 50%, 50%);
$russian-violet: hsl(253,55%,20%);
$white: hsl(0, 0%, 100%);
$douze-bar: hsl(44,75,75);
$douze-icon: hsl(51,89,89);
$black: hsl(0, 0, 15);
$grey: hsl(0, 0, 95%);