<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security</title>
</head>
<body>
    {% include "settings/navigation.html" %}
    
    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    <h1>Change password</h1>
    <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    {{ change_password_form.hidden_tag() }}

    {{ change_password_form.password.label }}
    {{ change_password_form.password()|safe }}
    {% if change_password_form.password.errors %}
    <ul>
        {% for error in change_password_form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ change_password_form.new_password.label }}
    {{ change_password_form.new_password()|safe }}
    {% if change_password_form.new_password.errors %}
    <ul>
        {% for error in change_password_form.new_password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ change_password_form.new_password_confirm.label }}
    {{ change_password_form.new_password_confirm()|safe }}
    {% if change_password_form.new_password_confirm.errors %}
    <ul>
        {% for error in change_password_form.new_password_confirm.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ change_password_form.submit() }}
    </form>


    <a href="two_factor_authentication">Two factor authentication</a>
</body>
</html>