@import "../colors";
@import "../mixins";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$background: #1100A0;
$name: #150154;
$contestant: #F2F2F4;
$highlight: #DD4099;
$douze: #E6EC6A;
$text: #222;

body {
    background-color: $background;
    font-size: 1em;
    color: $contestant;
}

input, select {
  border-radius: 0;
  border: none;
}

form {
  @media (min-width: 1025px) {  
    height: 72vh;
    width: 80vw;
    max-width: none;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    background: $name;
    
    @media (min-width: 1025px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 64.4%;
      height: 60.6%;
    }
  }

  .presenter {
    @media (min-width: 1025px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 35%;
        height: 92.3%;
    }

    .image-view {
      background: $name;
      
      @media (min-width: 1025px) {
        height: 87%;
        padding-top: 0;
      }

      &::before {
        color: $grey;
      }
    }

    #name {
      color: $white;
      background: $name;

      @media (min-width: 1025px) {
        height: 12.3%;
        margin: 0;
      }

      &::placeholder {
        color: $grey;
      }
    }
  }


  .points {
    @media (min-width: 1025px) {
        position: absolute;
        top: 61.3%;
        left: 0;
        width: 64.4%;
        height: 39.7%;
    }

    .contestant {
      color: $contestant;
      font-size: 2.2vh; 

        @media (min-width: 1025px) {
            height: unset;
            width: 49.8%;
            flex-basis: 18.9%;
        }   
        &::before {
            background-color: $highlight;
            font-size: 130%;
            font-weight: 600;
            width: 60px;
        }
    }

    select {
      background: $contestant;
      color: #222;
      font-size: 110%;
      font-weight: 600;
      padding-left: 83px;
    }
  }
  
  button {
    @media (min-width: 1025px) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35%;
        height: 7.2%;
      background-color: $highlight;
      color: $contestant;
    }
  }
}
