<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/contests.css">
    <title>Contests</title>
</head>
<body>
    <nav>
        <div>
            <a class="navbtn" href="/home"><img src="/static/assets/images/12.svg" alt=""></a>
            <a class="navbtn" href="/account">My account</a>
            <a class="navbtn" href="/logout">Log out</a>
        </div>
    </nav>
    <h1>Contests</h1>
    
    <a href="/contests/create">New contest</a>
    <div class="contests">
        {% for c in contests|reverse %}
        <div><a href="/contests/{{ c.id|string }}">{{ c.name }}</a></div>
        {% endfor %}
    </div>
</body>
</html>